header.header 
  .container 
    .row.align-items-center
      .col-8
        .inner-logo
          a(href="/" )
            img(src="/images/shopeeLogo.svg" alt="logo")

      .col-4
        form(action="/") 
          input(type="text")
          button(type="submit") Tim kiem