extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-list.pug

block main 
  +product-list("Sản phẩm nổi bật", products)
  +product-list("Sản phẩm mới nhất", newProduct)
