header.header.fixed-top
  .container-fluid
    .row.align-items-center.justify-content-between
      .col-auto
        .inner-logo
          a(href=`/${prefixAdmin}/dashboard`) Admin
      if user
        .col-auto
          a(href=`/${prefixAdmin}/dashboard` class="btn btn-primary mr-1") #{user.fullName}
          a(href=`/${prefixAdmin}/auth/logout` class="btn btn-danger") Đăng xuất

